@font-face {
    font-family: 'CHANEWEI';
    src: url('/fonts/CHANEWEI.eot');
    src: url('/fonts/CHANEWEI.eot') format('embedded-opentype'),
    url('/fonts/CHANEWEI.ttf') format('truetype'),
    url('/fonts/CHANEWEI.woff') format('woff'),
    url('/fonts/CHANEWEI.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}